.sec-detail {
  font-size: 16px;
  color: #fff;
  line-height: 21px;
  text-align: justify;
  margin-bottom: 10px;
  width: 100%;
}

.accardion-wrapper li label {
  font-family: "Raleway", serif;
  margin-bottom: 5px;
  background: #575e63;
  border-top: 1px solid #878e98;
  border-bottom: 1px solid #33373d;
  color: #fff;
  text-shadow: 0 1px 1px #000;
  letter-spacing: 0.09em;
  background: -webkit-gradient(
    linear,
    0% 0%,
    0% 100%,
    from(#575e63),
    to(#3f4347)
  );
  background: -webkit-linear-gradient(top, #575e63, #3f4347);
  display: block;
  padding: 12px;
  font-size: 15px;
  font-weight: bold;
}

.accardion-wrapper li label:hover {
  background: #566f82;
  background: -webkit-linear-gradient(top, #566f82, #3e505e);
}

.accardion-wrapper li label:hover span:nth-of-type(2) {
  -moz-box-shadow: inset 0 0 5px #111;
  -webkit-box-shadow: inset 0 0 5px #111;
}

.accardion-wrapper input[type="checkbox"] {
  display: none;
}

.accardion-wrapper li ul {
  background: #fff;
  display: block;
  -moz-box-shadow: inset 0 2px 2px #b3b3b3;
  -webkit-box-shadow: inset 0 2px 2px #b3b3b3;
  box-shadow: inner 0 2px 2px #b3b3b3;
  margin-bottom: 5px;
}

.accardion-wrapper li ul li a {
  display: flex;
  align-items: center;
  padding: 6px 12px;
  color: #999;
  text-decoration: none;
  background-color: transparent;
  font-size: 14px;
  transition: 150ms;
}

.accardion-wrapper li ul li a:hover {
  color: #44c6eb;
}

@media screen and (max-width: 900px) {
  .accardion-wrapper li label {
    margin-bottom: 5px;
    padding: 8px;
    font-size: 12px;
  }

  .accardion-wrapper li ul li a {
    padding: 5px 10px;
    font-size: 11px;
  }
}
