body {
  font-family: "Raleway", serif;
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
  font-family: "Raleway", serif;
}

/* ! ARXA FON SLIDER */
#slider-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000;
  z-index: -999;
}

#slider-wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
}

#slider-wrapper .slider-item {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background: lightblue;
  opacity: 0;
  overflow: hidden;
}
/* ! ARXA FON SLIDER -bitdi */
.local-container {
  display: grid;
  grid-template-columns: 1fr min(1440px, 95%) 1fr;
}

.local-container > * {
  grid-column: 2;
}

.local-container > .fluid {
  grid-column: 1 / -1;
}

#main {
  /* background-image: url(../images/01.jpg); */
  position: relative;
  padding-top: 40px;
  padding-bottom: 50px;
  min-height: 100vh;
  /* min-height: calc(var(--vh, 1vh) * 100); */
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  transition: background-image 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.main-wrapper {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.logo {
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 180px;
}

.logo a.logo-link {
  height: 100%;
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.logo img {
  width: 140px;
  height: 70px;
}

.web-title {
  text-transform: uppercase;
  color: white;
  font-size: 10px;
  margin-top: 5px;
}

.cssmenu .link {
  background: rgba(0, 0, 0, 0.8);
}

.cssmenu ul li a {
  padding: 15px;
  position: relative;
  display: block;
  color: #ffff !important;
  font-family: "Raleway", serif;
  cursor: pointer;
  z-index: 2;
  font-size: 13px;
  font-weight: 300;
  position: relative;
  list-style: none;
}

.cssmenu ul li a::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  width: 0%;
  transition: 0.3s;
  z-index: -1;
}

.cssmenu ul li a:hover::after {
  width: 100%;
}

.cssmenu ul li a i {
  font-size: 14px;
  margin-right: 8px;
  transition: 0.3s;
}

i.fa-chevron-down {
  color: rgba(255, 255, 255, 0.2);
  position: absolute;
  right: 20px;
  top: 50%;
  font-size: 16px;
  transform: translateY(-50%);
}

.cssmenu ul li a:hover .fa-chevron-down {
  color: #ffff;
}
.accardion {
  height: 0px;
  overflow: hidden;
  transition: 0.4s;
}

.accardion li a {
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
  height: 40px;
  display: flex;
  align-items: center;
  z-index: 1;
  text-decoration: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 14px;
  color: #fff;
  transition: 0.4s;
  text-shadow: none !important;
  transition: 0.4s;
  font-family: "Raleway", serif;
}

/* ! SOSIAL SEBEKE CSS LERI */
.social {
  padding-top: 10px;
  padding-bottom: 20px;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.vert-social1 > .social {
  padding-top: 20px;
}

.social li a i {
  border: 1px solid #ffff;
  color: #ffff;
  padding: 5px;
  border-radius: 5px;
  font-size: 15px;
  margin: 0 !important;
  transition: 0.2s;
}

.language {
  font-family: "Raleway", serif;
}

.social li a i:hover {
  background-color: #f7c775;
  border-color: #f7c775;
}

/*! vert-social */
.vert-social {
  background: rgba(0, 0, 0, 0.4);
  padding-top: 1%;
  display: table;
  width: 100%;
}

.vert-social img {
  width: 100%;
}

.vert-social3 ul {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.vert-social3 ul li a i {
  font-size: 12px;
  padding: 2px;
}

/*! main-center-container */
.main-center-container {
  width: 100%;
}
/*! top-back-btn */
.top-back-btn {
  display: none;
  position: fixed;
  opacity: 1;
  cursor: pointer;
  right: 20px;
  bottom: 20px;
  z-index: 9999;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

@media screen and (min-width: 1400px) {
  /*! main-center-container */

  .main-center-container {
    width: 100%;
    min-height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: normal;
    background: rgba(0, 0, 0, 0.8);
  }

  .sec-title {
    font-size: 24px;
    color: #fff;
    padding: 50px 20px;
    text-align: center;
    font-weight: 400;
    margin: 0 0 12px;
    font-family: "Raleway", serif;
    text-transform: uppercase;
  }
}

@media screen and (min-width: 767px) and (max-width: 1400px) {
  .ts-main-left {
    width: 90%;
  }
  .cssmenu ul li a {
    display: flex;
    padding: 15px;
    font-size: 13px;
    font-weight: 300;
  }

  .cssmenu ul li a i {
    font-size: 14px;
    margin-right: 8px;
  }

  i.fa-chevron-down {
    right: 20px;
    font-size: 16px;
  }

  .link > ul li a {
    font-size: 14px;
    font-weight: 400;
    font-size: 14px;
  }

  /* ! SOSIAL SEBEKE CSS LERI */
  .social {
    padding-top: 10px;
    padding-bottom: 20px;
  }

  .vert-social1 > .social {
    padding-top: 20px;
  }

  .social li a i {
    padding: 5px;
    border-radius: 5px;
    font-size: 15px;
  }
  /*! vert-social */
  .vert-social {
    padding-top: 1%;
  }

  .vert-social3 ul li a i {
    font-size: 12px;
    padding: 2px;
  }

  /*! main-center-container */

  .main-center-container {
    width: 100%;
    min-height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: normal;
    background: rgba(0, 0, 0, 0.8);
  }

  .sec-title {
    font-size: 24px;
    color: #fff;
    padding: 50px 20px;
    text-align: center;
    font-weight: 400;
    margin: 0 0 12px;
    font-family: "Raleway", serif;
    text-transform: uppercase;
  }
}

@media screen and (min-width: 0) and (max-width: 767px) {
  .ts-main-left {
    width: 100% !important;
  }

  .logo {
    background-color: rgba(0, 0, 0, 0.4);
  }
  .logo img {
    width: 100%;
    height: 180px;
  }
  .cssmenu ul li a {
    padding: 10px;
    font-size: 14px;
    font-weight: 300;
  }

  .cssmenu ul li a i {
    font-size: 14px;
    margin-right: 8px;
  }

  i.fa-chevron-down {
    right: 20px;
    font-size: 16px;
  }

  /* ! SOSIAL SEBEKE CSS LERI */
  .social {
    padding-top: 20px;
    padding-bottom: 30px;
  }

  .vert-social1 > .social {
    padding-top: 20px;
  }

  .social li a i {
    padding: 5px;
    border-radius: 5px;
    font-size: 14px;
  }
  /*! vert-social */
  .vert-social {
    padding-top: 1%;
  }

  .vert-social1 {
    margin-top: 50px;
  }

  .vert-social3 ul li a i {
    font-size: 12px;
    padding: 2px;
  }

  /*! main-center-container */

  .ts-main-center {
    width: 100%;
  }

  .main-center-container {
    width: 100%;
    min-height: 500px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: normal;
    background: rgba(0, 0, 0, 0.8);
  }

  .sec-title {
    font-size: 20px;
    color: #fff;
    padding: 30px 0;
    text-align: center;
    font-weight: 400;
    margin: 0 0 12px;
    font-family: "Raleway", serif;
    text-transform: uppercase;
  }

  .top-back-btn {
    right: 20px;
    bottom: 20px;
  }
}

@media screen and (min-width: 1500px) {
  .local-container {
    display: grid;
    grid-template-columns: 1fr min(1440px, 95%) 1fr;
  }
}

@media screen and (max-width: 800px) {
  .local-container {
    display: grid;
    grid-template-columns: 1fr min(1440px, 90%) 1fr;
  }
}
