@media screen and (min-width: 900px) {
  .prorector {
    height: 100px;
  }
}
hr {
  padding: 1px;
  background-color: rgb(240, 175, 10);
  margin-top: 50px;
  margin-top: 120px;
  margin-bottom: 60px;
}

.counter-name {
  color: rgb(194, 150, 40);
  font-size: 16px;
  margin-bottom: 25px;
  font-weight: 300;
}

.name h3 {
  font-size: 22px;
  color: rgba(255, 255, 255, 0.8);
}

.description p {
  margin-top: 20px;
  line-height: 21px;
  font-size: 14px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.8);
}

.description a,
strong {
  color: rgba(255, 255, 255, 0.8);
  transition: 0.2s linear;
}

.description a:hover {
  color: #44c6eb;
}

a.cv {
  background-color: rgb(194, 150, 40);
  font-size: 16px;
  font-weight: 500;
  padding: 8px 50px;
  border-radius: 5px;
  display: inline-block;
  margin-top: 25px;
}

a.cv:hover {
  color: #000;
}

.image {
  margin-left: 10px;
  margin-bottom: 15px;
  width: 320px;
  height: 200px;
  width: 170px;
  height: 140px;
  float: right;
}

.image img {
  width: 100%;
  height: 100%;
  border: solid 2px #fff;
  border-radius: 15px;
  object-fit: cover;
  background-color: black;
  color: white;
}

@media screen and (max-width: 900px) {
  hr {
    padding: 1px;
    margin-top: 30px;
    margin-bottom: 20px;
  }

  .name h3 {
    font-size: 24px;
  }

  .description p {
    margin-top: 10px;
    font-size: 13px;
  }

  .image {
    margin-left: 0;
    margin-bottom: 20px;
    width: 100%;
    height: 200px;
    float: right;
  }

  .image img {
    border-radius: 10px;
  }
}
